* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    background-color: #FFFACD;
}

.kalkulator {
    width: 330px;
    border-radius: 5px;
    margin: 100px auto;
    padding: 20px;
    background: cadetblue;
    border-radius: 5px;
}

.bil{
	width: 300px;
	margin: 5px;
	border: none;
	font-size: 16pt;
	border-radius: 5px;
	padding: 10px;	
}
 
.opt{
	font-size: 16pt;
	border: none;
	width: 215px;
	margin: 5px;
	border-radius: 5px;
	padding: 10px;
}
 
.tombol{
	background: #EC5159;
	border-top: none;
	border-right: none;
	border-left: none;
	border-radius: 5px;
	padding: 10px 20px;
	color: #eee;
	font-size: 15pt;
	border-bottom:4px solid #BF3D3D;
}
 
.brand{
	color: #eee;
	font-size: 11pt;
	float: right;
	text-decoration: none;
	margin: 12px;
}
 
.judul{
	text-align: center;
	color: cadetblue;
	font-weight: normal;
}